@media (min-width: 320px) {}
@media (min-width: 768px) {
/* -----------------------------------------------
    Main
––––––––––––––––––––––––––––––––––––––––––––––– */
    body {
        padding: 0;
    }
    .avatar {
        margin: 30px auto;
        max-width: 225px;
    }
    .btn {
        width: 50%;
    }

/* -----------------------------------------------
    Navigation
––––––––––––––––––––––––––––––––––––––––––––––– */
    nav {
        background: transparent;
    }
    nav li {
        padding: 8px 10px;
        margin: 10px 0;
        font-size: 1em;
    }
    nav .brand {
        padding: 7px 0;
        max-width: 45px;
    }
    .past-main {
        background-color: #ffffff;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    }
    .brand:active {
        background: transparent;
    }

/* -----------------------------------------------
    Header
––––––––––––––––––––––––––––––––––––––––––––––– */
    #header {
        padding: 0;
        display: flex;
        justify-content: center;
        /* align horizontal */

        align-items: center;
        background-position: center center;
    }
    #headertext {
        padding-top: 40vh;
        margin: 0 auto;
        font-size: 5rem;
    }
    #subheadertext {
        font-weight: 500;
        font-size: 2.5rem;
        padding: 5% 0;
        margin-top: 1em;
    }
    #bullet {
        display: inline;
    }

/* -----------------------------------------------
    About
––––––––––––––––––––––––––––––––––––––––––––––– */
    #about {
        margin: 3%;
    }

/* -----------------------------------------------
    Projects
––––––––––––––––––––––––––––––––––––––––––––––– */
    #projects {
        margin: 0;
        padding: 0 0 3% 0;
    }
    .wrapper {
        width: 350px;
    }
    ul.gallery {
        margin-top: 1.5em;
    }
    .gallery li {
        margin: 2em;
    }
    .desc-btn {
        width: 100% !important;
    }



/* -----------------------------------------------
    Contact
––––––––––––––––––––––––––––––––––––––––––––––– */
    #contact-form {
        padding: 1em 0;
    }
    #contact-form input[type="text"],
    input[type="email"],
    textarea,
    .form-label,
    .btn {
        width: 50%;
    }
    textarea {
        height: 200px;
    }
    .contact-icons  {
        padding-top: 5%;
    }
}
@media (min-width: 1600px) {
    #header {
        height: 65vh;
    }
    #headertext {
        padding-top: 10%;
    }
}
