/* -----------------------------------------------
    Main
––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: #ffffff;
    background-image: url("http://www.transparenttextures.com/patterns/xv.png");
    color: #000000;
    padding: 5.5rem 0 0 0;
    margin: 0;
    background-color: #ffffff;
    font-size: 1.7em;
}
a:hover {
    color: #446CB3;
}
i {
    font-style: normal;
    text-transform: none;
}
.avatar {
    margin: 70px auto 10px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display: block;
    max-width: 200px;
}
.alt {
    color: #446CB3;
}
::selection {
    background: #C5EFF7;
}
.shadow {
    /*text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);*/
}
.btn {
    text-transform: uppercase;
}

.send-btn {
  margin: 0 24.75%;
}

/* -----------------------------------------------
    Navigation
––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
    box-sizing: border-box;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.5s ease;
}
nav li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 7px;
    margin: 11px 0;
    font-size: 0.8em;
}
nav a {
    font-weight: 600;
    font-size: 0.9em;
    color: #000000;
    text-decoration: none;
}
nav ul {
    margin: 0;
}
nav .brand {
    padding: 12px 0;
    max-width: 33px;
}

/* -----------------------------------------------
    Header
––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
    background:
        linear-gradient( rgba(255, 255, 255, 1), transparent 90%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.6), transparent 90%),
        url('../img/header4.jpg');
    background-position: bottom center;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    margin: 0 auto;
    padding: 0% 5%;
    overflow: hidden;
}
#headertext {
    color: #000000;
    margin: 25vh auto 20vh;
    font-size: 1.9em;
    display: inline-block;
}
#subheadertext {
    margin: 0 auto;
    display: block;
    color: #000000;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
#rotate {
    font-weight: bold;
    color: #446CB3;
}
#bullet {
    display: block;
}

/* -----------------------------------------------
    About
––––––––––––––––––––––––––––––––––––––––––––––– */
.skills li {
    font-size: 1.75rem;
    background-color: #446CB3;
    color: #ffffff;
    padding: 10px;
    display: inline-block;
    list-style-position:inside;
    border: 3px solid #446CB3;
    border-radius: 100px;
}

/* -----------------------------------------------
    Projects
––––––––––––––––––––––––––––––––––––––––––––––– */
#projects {
    margin-top: 3%;
    margin-bottom: 10%;
}
.gallery li {
    list-style-type: none;
    display: inline-block;
    margin: 1em 0;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
.gallery ul {
    list-style: none;
}
.wrapper img {
    width: 100%;
    display: block;
    vertical-align: top;
    z-index: 1;
}
.wrapper {
    position: relative;
    line-height: 0;
    display: block;

}
.text {
    position: absolute;
    top: 0;
    color: #fff;
    background-color: rgba(69,108,179, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    opacity: 0;
    padding-top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.text:hover {
    opacity: 1;
}
#soon {
    margin-top: 21.25%;
}
.caption {
    margin-left: 10px;
}

/* -----------------------------------------------
    Project Descriptions
––––––––––––––––––––––––––––––––––––––––––––––– */
.proj-desc {
    padding: 3% 0;
    margin-bottom: 5%;
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.4);
    background-color: #ffffff;
    background-image: url(http://www.transparenttextures.com/patterns/foggy-birds.png);

}

.desc-btn {
    margin-bottom: 3%;
}

a {
  text-decoration: none;
}



/* -----------------------------------------------
    Contact
––––––––––––––––––––––––––––––––––––––––––––––– */

#contact-form input[type="text"], input[type="email"], textarea{
    width: 100%;
    background-color: rgba(255,255,255,0);

    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,0.75);
    -moz-box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,0.75);
    box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,0.75);
    border-radius: 0;
}
textarea {
    height: 200px;
    resize: vertical
}
.form-label {
    text-transform: uppercase;
    font-weight: bold;
    color: #446CB3;
    text-align: left;
    display: block;
    margin: 0 auto;

}
.btn {
    width: 100%;
}

.contact-icons li {
    text-decoration: none;
    display: inline;
    padding: 0 3%;
    font-size: 3em;

}

.contact-icons a {
    text-decoration: none;
    color: #446CB3;
}

.contact-icons a:hover {
    color: #59ABE3;
}


/* -----------------------------------------------
    Footer
––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    background-color: #171717;
    padding: 5px;
    text-align: right;
    font-size: 0.9em;
}
