<!-- Project Descriptions
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="mcgill-desc proj-desc">
    <div class="container">
        <h1 class="alt">McGill Students Business Review</h1>
        <h4 style="font-weight: bold">Project Description</h4>
        <div class="row">
            <div class="eight columns">
                <p>The <em>McGill Students Business Review</em> was founded in
                2015 and is the first periodical at McGill University to be
                devoted solely to the publication of articles focusing on the
                global business community. The MSBR, an online and print
                journal, serves as an outlet for students to express their
                varied views and opinions on a range of business topics,
                including: economics, entrepreneurship, finance, investing,
                innovation and government policy. Composed of a team of
                undergraduate student editors, writers and executives that each
                play an integral role individually in the production and
                publication process, the MSBR is driven to produce excellent
                content and curate articles for a multifarious scholastic and
                professional audience.</p>
            </div>
            <div class="four columns"><img class="u-full-width" src=
            "img/mcgill-ss.png"></div>
        </div>
        <h4 style="font-weight: bold">Technologies Used</h4>
        <ul class="skills">
            <li>WordPress</li>
            <li>CSS</li>
            <li>PHP</li>
            <li>HTML</li>
        </ul><br>
        <div class="row">
            <div class="six columns">
              <a href="http://mcgillsbr.ca" target="_blank">
                <div class="btn btn-1 btn-1b desc-btn" id="goto-msbr">
                    GO TO WEBSITE
                </div>
              </a>
            </div>
            <div class="six columns">
                <div class="btn btn-1 btn-1b desc-btn close">
                    CLOSE
                </div>
            </div>
        </div>
    </div>
</section>


<section class="acc-g1-desc proj-desc">
    <div class="container">
        <h1 class="alt">Accelerate G1</h1>
        <h4 style="font-weight: bold">Project Description</h4>
        <div class="row">
            <div class="eight columns">
                <p>"Accelerate G1 is your key to passing your G1 test and
                getting started driving on the road. No ads. No costs. 100%
                simple and 100% free."</p><b>Role:</b> Graphic Designer<br>
                Designed the app icon, launch screen, and menu icons for a
                variety of displays.<br>
                <br>
                <br>
                <h4 style="font-weight: bold">Technologies Used</h4>
                <ul class="skills">
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                </ul><br>
            </div>
            <div class="four columns"><img class="u-full-width" src=
            "img/acc-g1-icons.png"></div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="six columns">
              <a href="https://itunes.apple.com/ca/app/accelerate-g1/id1044818115?mt=8" target="_blank">
                <div class="btn btn-1 btn-1b desc-btn" id="goto-msbr">
                    GO TO APP STORE
                </div>
              </a>
            </div>
            <div class="six columns">
                <div class="btn btn-1 btn-1b desc-btn close">
                    CLOSE
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sharest-desc proj-desc">
    <div class="container">
        <h1 class="alt">ShareStreet</h1>
        <h4 style="font-weight: bold">Project Description</h4>
        <div class="row">
            <div class="eight columns">
                <p>ShareStreet is an investment platform that connects
                investors with opportunities to fund real estate projects. We
                were founded when we learned there was a select group of
                investors who were reaping the benefits of highly attractive
                real estate investments.</p>
            </div>
            <div class="four columns"><img class="u-full-width" src=
            "img/sharestreet-ss.png"></div>
        </div>
        <h4 style="font-weight: bold">Technologies Used</h4>
        <ul class="skills">
            <li>Bootstrap</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>jQuery</li>
        </ul><br>
        <div class="row">
            <div class="six columns">
              <a href="http://sharestreet.ca" target="_blank">
                <div class="btn btn-1 btn-1b desc-btn" id="goto-msbr">
                    GO TO WEBSITE
                </div>
              </a>
            </div>
            <div class="six columns">
                <div class="btn btn-1 btn-1b desc-btn close">
                    CLOSE
                </div>
            </div>
        </div>
    </div>
</section>


<section class="portf-desc proj-desc">
    <div class="container">
        <h1 class="alt">Kokul Subendran's Portfolio</h1>
        <h4 style="font-weight: bold">Project Description</h4>
        <div class="row">
            <div class="eight columns">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                suscipit, neque mollis ullamcorper convallis, mauris nibh
                commodo sem, vitae consectetur metus augue eget tellus. Ut
                vitae convallis dui, quis sodales magna.</p>
                <h4 style="font-weight: bold">Technologies Used</h4>
                <ul class="skills">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                </ul>
            </div>
            <div class="four columns"><img class="u-full-width" src=
            "img/ksubendran.png"></div>
        </div><br>
        <div class="row">
            <div class="btn btn-1 btn-1b close">
                CLOSE
            </div>
        </div>
    </div>
</section>
